@import url("https://fonts.googleapis.com/css?family=Raleway:700&display=swap");
@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Righteous|Russo+One&display=swap');
:root {
  --bgMain: #ffffff;
  --borderColor: rgb(30, 22, 145);
  --fontColor: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  color: var(--fontColor);
}

body {
  background: #000;
}


main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('../img/background1.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.stage {
  display: grid;
  grid-template-areas: "gamer gamer gamer" "left center right" "sel    sel    sel" "cont   cont  cont";
  grid-template-rows: 0.3fr 3fr 1fr 0.5fr;
  grid-template-columns: 1fr 0.3fr 1fr;
  width: 70%;
  height: 90%;
  /* width: 55%;
  height: 80%; */
  /* background: rgba(0, 0, 0, 0.8); */
  
  background-image: url('../img/marvel_heroes1.png');
  background-size: 100% 100%;
}

.gamers {
  grid-area: gamer;
  display: grid;
  grid-template-columns: 1fr 0.3fr 1fr;
}

/* .gamers {
  grid-area: gamer;
  display: flex;
  align-items: center;
  justify-content: space-around;
} */

.leftZone {
  padding: 5% 15%;
  /* background: #000; */
}

.centerZone {
  grid-area: center;
}

.rightZone {
  padding: 5% 15%;
  /* background: #000; */
}

#controlZone {
  grid-area: cont;
  background: transparent;
  cursor: pointer;
  border: 1px solid var(--borderColor);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 1.2em;
  color: var(--fontColor);
}


#controlZone:focus {
  outline: none;
}

.selectZone {
  grid-area: sel;
}

.characters {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  height: 100%;
}

img {
  width: 100%;
  height: 100%;
}

.characterLeft {
  border: 1px solid rgb(30, 22, 145);
  cursor: pointer;
}

.characterRight {
  border: 1px solid rgb(30, 22, 145);
  cursor: pointer;
}

.selects {
  grid-area: sel;
  display: grid;
  grid-template-columns: 1fr 0.3fr 1fr;
}

.select {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 4% 15%;
}

.charSelLeft {
  border: 1px solid var(--borderColor);
  width: 100%;
  height: 100%;
}

.charSelRight {
  border: 1px solid var(--borderColor);
  width: 100%;
  height: 100%;
}

.fightZones {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.winnerZones {
  display: flex;
  background: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
}

p {
  /* font-family: 'Righteous', cursive; */
  font-family: 'Archivo Black', sans-serif;
  /* font-family: 'Russo One', sans-serif; */
  font-weight: 400;
  color: var(--fontColor);
  width: 100%;
  text-align: center;
  align-self: center;
}

.lifeBar {
  border-radius: 0 0.5em 0.5em 0;
  text-align: left;
}

.opacity {
  opacity: 0.2;
}

.inNone {
  display: none;
}